Source: kodi-visualization-goom
Priority: extra
Maintainer: Arne Morten Kvarving <spiff@xbmc.org>
Build-Depends: debhelper (>= 8.0.0), cmake, kodi-addon-dev,
               kodi-visualization-dev, libgl1-mesa-dev,
               automake, autoconf, libtool
Standards-Version: 3.9.2
Section: libs
Homepage: http://xbmc.org

Package: kodi-visualization-goom
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GOOM visualization for Kodi
 GOOM visualization for Kodi

Package: kodi-visualization-goom-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for GOOM visualization for Kodi
 debug symbols for GOOM visualization for Kodi

